*, *:after, *:before {
  box-sizing: border-box;
}

.body {
	max-width: 1200px;
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
}

/* ------------------------- header -----------------------------  */
header {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  justify-content: flex-end;
  margin-bottom: 1em;
  /*position: fixed;*/ /* ----- need help with this ----- */ 
}

@media all and (max-width: 800px) {
  header { 
    justify-content: space-around;
  }
}

/* Small...maybe change to hamburger....... */
@media all and (max-width: 500px) {
  header {
    flex-direction: column;
  }
}

header h1 {
  font-size: 2.5em;
  font-family: 'Amatic SC';
  margin: 0;
  margin-right: auto;
  padding-left: 1em;
}

header div {
  border-bottom: 10px solid #2F479D;
}

header a {
  font-size: 1.75em;
  font-family: 'Amatic SC', sans-serif;
  font-weight: 700;
  color: black;
  text-decoration: none;
  padding: 0 0.5em;
  margin: 0 0.25em;
}

header a:hover {
  color: #424242;
}

/* ------------------------ main landing page ----------------------------- */
section {
  font-family: 'Oswald', sans-serif;
}

section a {
  text-decoration: none;
}

section a:hover {
  color: #00008B;
}

#main {
  font-family: 'Amatic SC';
  background-color: white;
  padding: 10em 0;
  margin: 0;
  background-image: url("../images/gridfinal.gif");
  background-size: cover;
  background-repeat: none;
  /*background-position: center;*/
}

#main div {
  background-color: white;
  padding: 0.5em;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  /*align-content: center;*/
}
  
/*.wrapper {                  
  background-color: white;
}*/

#main h1 {
  font-family: 'Amatic SC', sans-serif;
  font-size: 5em;
  margin: 0;
  text-align: center;
}

#main h3 {
  font-family: 'Amatic SC', sans-serif;
  font-size: 3em;
  padding: 0;
  margin: 0;
  text-align: center;
}

#main div p {
  font-size: 2em;
  margin: 0;

}

/* ----------------------- About ---------------------- */

#about {
}

#about .wrapper {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: flex-start;
  padding: 1em;
  font-size: 1em;
  background-color: #1A2061;
}

@media all and (max-width: 800px) {
  #about .wrapper {
    flex-flow: column;
  }
}

#about h2 {
  font-family: 'Amatic SC', sans-serif;
  font-size: 3em;
  font-weight: 700;
  width: 100%;
  text-align: center;
  color: white;
  margin: 0;
  padding: 0;
}

/*#about img {
  flex: 0 300px;
}

#about-text {
  flex: 1 auto;
}*/

#about p {
  padding: 0 1em;
  color: white;
}

#about a {
  color: #E3E3E3;
  text-transform: uppercase;
}

#about a:hover {
  color: #D3D3D3;
}

/* ----------------------- Projects ---------------------- */

#projects {
}

#projects-header {
  display: flex;
  flex-flow: row wrap;
  background-color: #D3D3D3;
  padding: 1em;
  margin-bottom: 1em;
}

#projects h2 {
  color: black;
}

#projects .wrapper {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1em;
  font-size: 1em;
  /*font-family: 'Amatic SC', sans-serif;*/
}

#projects .wrapper:nth-child(odd) {
   background-color: #D3D3D3;
}

@media all and (max-width: 800px) {
  #projects .wrapper {
    flex-flow: column;
  }
  #logo3js {
    width: 300px;
  }
}

#projects h2 {
  width: 100%;
  text-align: center;
  font-family: 'Amatic SC', sans-serif;
  font-size: 2.75em;
  margin: 0 auto;
  padding: 0;
}

#projects h3 {
  width: 100%;
  text-align: center;
  font-weight: 400;
  font-family: 'Amatic SC', sans-serif;
  font-size: 2em;
  margin: 0 auto;
  padding: 0;
}

.project-description {
  padding: 1em;
}

.project-description h2 {
  width: 100%;
  /*margin: 0 auto;*/
}

.project-description p {
  width: 100%;
  /*margin: 0 auto;*/
}


/* ------------------------- Contact ---------------------- */
#contact {
}

#contact div {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  background-color: #1A2061;
}

#contact h2 {
  width: 100%;
  text-align: center;
  color: white;
  font-family: 'Amatic SC', sans-serif;
}

.back-to-top {
  cursor: pointer;
  color: blue;
  text-decoration: none; 
  text-align: right;
  margin: 0 auto;
}

.back-to-top:hover {
  color: #00008B;
}

/* -------------------------- footer -----------------------*/
footer {
  background-color: #1A2061;
}

footer .wrapper {
   
}

footer h2 {
  font-family: 'Amatic SC', sans-serif;
  font-size: 3em;
  color: white;
  text-align: center;
  width: 100%;
}

footer p {
  font-size: 0.75em;
  color: gray;
  text-align: center;
}

footer a {
  color: white;
  font-size: 1em;
  text-decoration: none;
  margin: 0 1em;
}

footer a:hover {
  color: #D3D3D3;
}

#footer-nav {
  width: 100%;
  margin: 1em auto;
  padding: 1em;
}

#disclaimer {
  color: gray;
  font-size: 0.75em;
  width: 100%;
  margin: 0 auto;
  padding: 1em;
}


