*, *:after, *:before {
  box-sizing: border-box;
}

.body {
	max-width: 1200px;
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
}

/* ------------------------- header -----------------------------  */
header {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  justify-content: flex-end;
  margin-bottom: 1em;
  /*position: fixed;*/ /* ----- need help with this ----- */ 
}

@media all and (max-width: 800px) {
  header { 
    justify-content: space-around;
  }
}

/* Small...maybe change to hamburger....... */
@media all and (max-width: 500px) {
  header {
    flex-direction: column;
  }
}

header h1 {
  font-size: 2.5em;
  font-family: 'Amatic SC';
  margin: 0;
  margin-right: auto;
  padding-left: 1em;
}

header div {
  border-bottom: 10px solid #2F479D;
}

header a {
  font-size: 1.75em;
  font-family: 'Amatic SC', sans-serif;
  font-weight: 700;
  color: black;
  text-decoration: none;
  padding: 0 0.5em;
  margin: 0 0.25em;
}

header a:hover {
  color: #424242;
}

/* ------------------------ main landing page ----------------------------- */
section {
  font-family: 'Oswald', sans-serif;

  border: 1em solid #2F479D;
  border-top: none;;
  /*border-right: 1em solid #2F479D;
  border-bottom: 1em solid #2F479D;
  border-left: 1em solid #2F479D;
*/
  /*margin-bottom: 1em;*/
}



section a {
  text-decoration: none;
}

section a:hover {
  color: #00008B;
}

#main {
  font-family: 'Amatic SC';
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: white;
  padding: 10em 0;
  margin: 0;
}
  
.wrapper {                  
  background-color: white;
}

#main h1 {
  font-size: 5em;
  margin: 0;
}

#main h3 {
  font-size: 3em;
  padding: 0;
  margin: 0;
}

#main div p {
  font-size: 2em;
}

/* ----------------------- About ---------------------- */

#about {
  margin-top: 1em;
}

#about .wrapper {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  padding: 1em;
  font-size: 1em;
}

@media all and (max-width: 800px) {
  #about .wrapper {
    flex-flow: column;
  }
}

/*#about img {
  flex: 0 300px;
}

#about-text {
  flex: 1 auto;
}*/

#about p {
  padding: 0 1em;
}

/* ----------------------- Projects ---------------------- */

#projects {
}

#projects-header {
  display: flex;
  flex-flow: row wrap;
  background-color: #D3D3D3;
  padding: 1em;
  margin-bottom: 1em;
}

#projects .wrapper {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
  padding: 1em;
  font-size: 1em;
}

@media all and (max-width: 800px) {
  #projects .wrapper {
    flex-flow: column;
  }
}

#projects h2 {
  width: 100%;
  text-align: center;
  font-size: 2em;
  margin: 0 auto;
  padding: 0;
}

#projects h3 {
  width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: 1em;
  margin: 0 auto;
  padding: 0;
}

.project-description {
  padding: 1em;
}

.project-description h2 {
  width: 100%;
  /*margin: 0 auto;*/
}

.project-description p {
  width: 100%;
  /*margin: 0 auto;*/
}


/* ------------------------- Contact ---------------------- */

#contact {

}

#contact div {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

#contact h2 {
  width: 100%;
  text-align: center;
}


.back-to-top {
  cursor: pointer;
  color: blue;
  text-decoration: none;
  
  text-align: right;
  margin: 0 auto;

}

.back-to-top:hover {
  color: #00008B;
}


/* -------------------------- footer -----------------------*/
footer {
  
}

footer p {
  font-size: 0.75em;
  color: gray;
  text-align: center;
}

footer a {
  text-decoration: none;
  margin: 0 1em;
}


